body{
    background-color: #FEA600;
    font-family: sans-serif;
    color:white;
    text-align: center;
}
button{
    border-radius: 5px;
    background-color: #FEA600;
    color: white;
    font-size: 25px;
    font-family: sans-serif;
    padding:2%;
    margin:1%;
    border: 1px solid white;
}
div{
    font-size: 30px;
    padding:5%
}